html,body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    /*cursor: none;*/
}

ul.slideshow {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul.slideshow li {
    width: 0;
    height: auto;
    float: left;
    list-style-type: none;
    margin-bottom: -5px;
    transition: transform .2s ease-out;
    z-index: 1;
}

/*ul.slideshow li:hover {
    transform: scale(3);
    z-index: 99999;
}*/

ul.slideshow li img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s ease-out, width 1s ease-out;
}

.settings {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -200px;
    background: #DDD;
    border-radius: 10px;
    display: none;
}

/*ul.slideshow li:hover img {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
}*/
